<?xml version="1.0" encoding="UTF-8" ?>  
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    <mapper namespace="com.healthcloud.dao.rank.RankItemDao">  
      
        <resultMap type="RankItem" id="rankItem">  
            <id property="id" column="id"/>  
            <result property="catagory" column="catagory"/>
			<result property="name" column="name"/> 
              <result property="score" column="score"/>  
              <result property="rankListId" column="rank_list_id"/>  
        </resultMap>  
          
          <!-- 添加等级条目 -->
          <insert id="add" parameterType="RankItem">
          <selectKey keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
        
          	insert into rank_item (catagory,name,score,rank_list_id)
          	values 
          	(#{catagory},#{name},#{score},#{rankListId})
          </insert>
  
        <!-- 查询等级条目 -->  
        <select id="query" resultMap="rankItem" parameterType="RankItem" >  
                SELECT * from rank_item 
                 <trim prefix="where" prefixOverrides="and |or">  
				        <if test="name != null">  
				            name = #{name}  
				        </if>  
				          <if test="rankListId != null">  
				            rank_list_id = #{rankListId}  
				        </if> 
				   </trim>  
        </select> 
        
          <!-- 查询等级条目，根据用户名 -->  
        <select id="queryOne" resultMap="rankItem" parameterType= "RankItem">  
                SELECT * from rank_item 
               <trim prefix="where" prefixOverrides="and |or">  
				        <if test="name != null">  
				            name = #{name}  
				        </if>  
				          <if test="rankListId != null">  
				            rank_list_id = #{rankListId}  
				        </if> 
				   </trim>  
				   
        </select> 
        
             <!-- 查询所有等级条目-->
          <select id="queryAll" resultMap="rankItem">
          		select * from rank_item
          </select>
          
        <!-- 查询等级条目，根据id -->  
        <select id="queryById"   resultMap="rankItem">  
                SELECT * from rank_item 
                    WHERE 
                    id = #{id}  
               
        </select>  
        
        
		<!-- 更新等级条目 -->
          <update id="update" parameterType="RankItem">
          	update rank_item
          	 <trim prefix="SET" suffixOverrides=",">  
	        <if test="catagory != null and catagory != ''">  
	           catagory = #{catagory}
	        </if>  
	         <if test="name != null and name != ''">  
	           name = #{name}
	        </if>  
	          <if test="score != null and score != ''">  
	           score = #{score}
	        </if>  
	           <if test="rankListId != null and rankListId != ''">  
	           rank_list_id = #{rankListId}
	        </if>  
	       
        </trim>
       		 where 
      	  id = #{id} 
      	
          </update>
          
     
         
         <!-- 删除等级条目 -->
         <delete id="delete">
         	delete from rank_item 
         	where
         	id = #{id}
         </delete>
          	
         
    </mapper>  
